body {
  background: lightblue;
  font-family: 'Handlee', cursive;
}

.postcard {
  background: white;
  width: 500px;
  height: 350px;
  margin: 0 auto;
  
  padding: 2%;
  transform: translate(-50%, -50);
}

.postcard-header {
  overflow: hidden;
}

.postcard-header img {
  max-width: 60px;
  float: right;
}

.postcard-footer {
  background: lightgray;
}

.postcard-body {
  overflow: hidden;
}

input {
  font-size: 18px;
  font-family: 'Handlee', cursive;
}

.postcard h1 {
  margin: 0px;
}

.left-part {
  float: left;
  width: 50%;
}

.right-part {
  float: right;
  width: 50%;
}

.right-part input {
  display: block;
}

h1 {
  font-size: 35px;
}

.postcard-footer {
  padding: 10px;
  text-align: center;
}

.postcard-footer input {
  border: none;
  border-bottom: 1px solid gray;
}

.postcard-body {
  border: none;
  border-bottom: 1px solid gray;
}

.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}

.icon {
  padding: 10px;
  background: dodgerblue;
  color: white;
  min-width: 50px;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
